body {
    font-family: "Helvetica", sans-serif;
    margin: 16px 64px;
    background-color: white;
}

h4 {
    padding: 4px 8px;
}

a {
    display: block;
}

.coverage {
    font-size: small;
    font-weight: normal;
}

label {
    padding: 8px 8px;
    color: black;
    text-decoration: none;
    display: block;
    border: thin #eeeeee solid;
}


.passed label {
    background-color: #dfd;
}

.skipped label {
    background-color: #eee;
}

.failed label {
    background-color: #fdd;
}

.badge {
    background-color: #888;
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    float: right;
}

.passed .badge {
    background-color: #5c5;
}

.failed .badge {
    background-color: #d66;
}

.expando {
    padding: 8px;
    display: none;
}

.content {
    padding: 8px;
    border-bottom: thin #eeeeee solid;
    color: #444;
    white-space: pre;
    background-color: #EEE;
    font-family: 'Courier New';
    text-wrap: wrap;
}

.duration {
    font-size: x-small;
}

div:target .expando {
    display: block
}

.toggle-el {
    /* padding: 2rem; */
    /* height: 240px; */
    background: white;
    transition: all 0.2s ease;
    opacity: 1;
    margin-top: 1rem;
    overflow: hidden;
}
 
input[type=checkbox].hide-input:not(:checked) + .toggle-el {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
}
 
input.hide-input {
    position: absolute;
    left: -999em;
}
 
label.toggle {
    display: block;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: #242424;
    /* background: #b5b5b5; */
    border-radius: 3px;
    user-select: none;
}